/* style.css */

html {
  font-size: 18px;
}

:root {
	/* define some variables to use later */
	--bg-color: #2d323cff;
	--text-color: whitesmoke;
	--text-bg-color: #191919;
	--link-color: #ce9ffe;
	--link-hover-color: #9c01c6;
	--link-visited-color: #9c01c6;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

header {
  background-color: var(--text-bg-color);
  text-align: center;
  padding: 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 15rem;
  height: auto;
  opacity: 0.9;
}

nav ul {
  list-style-type: none;
  font-weight: bold;
  display: flex;
  transition: color 0.2s;
}

nav ul li a {
	font-size: 1.2rem;
  border-radius: 2rem;
  padding: 1rem;
  color: var(--link-color);
  text-decoration: none;
}

nav ul li a:visited {
  color: var(--link-color);
}

nav ul li a:hover {
  color: var(--link-hover-color);
}

main {
  padding: 2rem;
  text-align: center;
}

section {
  background-color: var(--text-bg-color);
  /* border: 1px solid #ddd;*/
  border-radius: 1rem;
  padding: 1rem 3rem 3rem 3rem;
  margin: 0 auto;
  max-width: 70%;
  margin-bottom: 1rem;
  text-align: left; /* Allinea il testo a sinistra all'interno del box */
  color: var(--text-color);
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5;
}
h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  color: var(--link-color);
}

/* Aggiungi stile per la classe "indented" */

h1 {
  text-align: center;
}

a:hover {
  color: var(--link-visited-color);
}

a:visited {
  color: var(--link-visited-color);
}

ul li, ol li {
  margin-bottom: 1rem;
  font-size: 1rem;
}

ul li a, ol li a {
	font-size: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.2rem;
  margin: 0 auto;
}

table thead {
	border-bottom: 1px solid var(--text-color);
}

table th, table td {
  padding: 0.3rem 1rem;
}

code {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
